project: #项目信息
 name: tx-demo-client2
 server:
   transaction: tx-demo-server
   client3: tx-demo-client3
 server-url:
   transaction: http://localhost:8937
   client3: http://localhost:8939
    
server.port: 8938
 
spring: #应用配置
  application:
    name: ${project.name} 
  data:
    cassandra:
      keyspace-name: sgp_tx
      contactPoints: 127.0.0.1
      port: 9042
    
feign:
  hystrix:
    enabled: true

#cache: #缓存配置
#  model: SIMPLE