<script type="text/javascript" src="$!context.contextPath/assets/lib/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="$!context.contextPath/assets/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
#if($isEmpty != "empty")
<script type="text/javascript" src="$!context.contextPath/assets/lib/kendoUI/js/kendo.core.js"></script>
<script type="text/javascript" src="$!context.contextPath/assets/lib/kendoUI/js/kendo.popup.js"></script>
<script type="text/javascript" src="$!context.contextPath/assets/lib/kendoUI/js/kendo.menu.js"></script>
#end
#if($!libs.contains("webuploader"))
<script type="text/javascript" src="$!context.contextPath/assets/lib/webuploader-0.1.5/webuploader.js"></script>
#end
<script type="text/javascript" src="$!context.contextPath/assets/lib/require/require.2.1.11.min.js"></script>
#if($isEmpty != "empty")
<script type="text/javascript" src="$!context.contextPath/assets/js/app.js"></script>
#end
#foreach ($s in $js)
<script type="text/javascript" src="$!context.contextPath/assets/js/${s}.js"></script>
#end