<head>
	<meta charset="UTF-8">
  <title>BPS管理平台</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <!-- bootstrap 3.0.2 -->
	<link href="$!context.contextPath/assets/lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- font Awesome -->
	<link href="$!context.contextPath/assets/lib/Fonts-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<!-- kendo UI-->
	<link rel="stylesheet" type="text/css" href="$!context.contextPath/assets/lib/kendoUI/css/kendo.common-bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="$!context.contextPath/assets/lib/kendoUI/css/kendo.bootstrap.css" />
    #if($!libs.contains("webuploader"))
        <link rel="stylesheet" type="text/css" href="$!context.contextPath/assets/lib/webuploader-0.1.5/webuploader.css"/>
    #end
	#if($isEmpty != "empty")
	<link rel="stylesheet" type="text/css" href="$!context.contextPath/assets/css/app.css"/>
	#end
    #foreach ($c in $css)
    <link rel="stylesheet" href="$!context.contextPath/assets/css/${c}.css" />
    #end
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	  <script type="text/javascript">
    	var BASEPATH = '$!context.contextPath/';
    </script>
</head>