<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="$!util.resourcePath()$!session.getAttribute('SESSION_ADMIN__').headImg" class="img-circle" />
            </div>
            <div class="pull-left info">
                <p>你好 $!session.getAttribute("SESSION_ADMIN__").adminName</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
        	#foreach($menu in $util.getMenus())
        		##if($util.hasPermission($menu.resourceId))
                    #if($menu.isLeaf == 'Y')
                	<li>
                        <a href="$!context.contextPath$!menu.url">
                            $!menu.iconUrl<span>$!menu.menuName</span>
                        </a>
                    </li>
                    #else
                    <li class="treeview active">
                        <a href="javascript:;">
                            $!menu.iconUrl<span>$!menu.menuName</span>
                            <i class="fa icon-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            #foreach($menuItem in $menu.childrenMenu)
                                ##if($util.hasPermission($menuItem.resourceId))
                                <li>
                                    <a href="$!context.contextPath$!menuItem.url">
                                        <i class="fa icon-double-angle-right"></i>
                                        <span>$!menuItem.menuName</span>
                                    </a>
                                    #childrenMenu($!menuItem.childrenMenu)
                                </li>
                                ##end
                            #end
                        </ul>
                    </li>
                    #end
            	##end
        	#end
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
#macro(childrenMenu $children)
    #if($children)
        <ul>
        #foreach($child in $children)
         <li>
            <a href="#if($!menu.url)$!context.contextPath$!menu.url#else javascript:;#end">$!menu.iconUrl<span>$!menu.menuName</span></a>
            #childrenMenu($!child.childrenMenu)
         </li>
        #end
        </ul>
    #end
#end