<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<Properties>
		<property name="fileDir">${sys:user.home}/log/hbasesoft</property>
		<property name="maxSize">50M</property>
		<property name="bufferSize">2048</property>
		<property name="rootLevel">info</property>
		<property name="fullPattern">[%p][%d{HH:mm:ss,SSS}][%c]%m%n</property>
		<property name="normalPattern">[%d{yyyy-MM-dd HH:mm:ss,SSS}][%c]%m%n
		</property>
		<property name="sqlPattern">[%d{yyyy-MM-dd HH:mm:ss,SSS}][%c]%m%n
		</property>
		<property name="transPattern">[%d{yyyy-MM-dd HH:mm:ss,SSS}]|%m%n
		</property>
	</Properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${fullPattern}" />
		</Console>
		<RollingFile name="DebugAppender" fileName="${fileDir}/debug.log"
			filePattern="${fileDir}/debug.%d{MM-dd-yyyy}.log.gz">
			<ThresholdFilter level="info" onMatch="DENY"
				onMismatch="ACCEPT" />
			<PatternLayout pattern="${normalPattern}" />
			<SizeBasedTriggeringPolicy size="${maxSize}" />
		</RollingFile>
		<RollingFile name="InfoAppender" fileName="${fileDir}/info.log"
			filePattern="${fileDir}/info.%d{MM-dd-yyyy}.log.gz">
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
			<PatternLayout pattern="${normalPattern}" />
			<SizeBasedTriggeringPolicy size="${maxSize}" />
		</RollingFile>
		<RollingFile name="WarnAppender" fileName="${fileDir}/warn.log"
			filePattern="${fileDir}/warn.%d{MM-dd-yyyy}.log.gz">
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
			<PatternLayout pattern="${normalPattern}" />
			<SizeBasedTriggeringPolicy size="${maxSize}" />
		</RollingFile>
		<RollingFile name="ErrorAppender" fileName="${fileDir}/error.log"
			filePattern="${fileDir}/error.%d{MM-dd-yyyy}.log.gz">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${normalPattern}" />
			<SizeBasedTriggeringPolicy size="${maxSize}" />
		</RollingFile>
		<RollingFile name="SqlAppender" fileName="${fileDir}/sql.log"
			filePattern="${fileDir}/sql.%d{MM-dd-yyyy}.log.gz">
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${sqlPattern}" />
			<SizeBasedTriggeringPolicy size="${maxSize}" />
		</RollingFile>
		<RollingFile name="TransAppender" fileName="${fileDir}/trans.log"
			filePattern="${fileDir}/trans.%d{MM-dd-yyyy}.log.gz">
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${transPattern}" />
			<SizeBasedTriggeringPolicy size="${maxSize}" />
		</RollingFile>
		<Async name="AsyncTransAppender" bufferSize="${bufferSize}"
			includeLocation="true">
			<AppenderRef ref="TransAppender" />
		</Async>
	</appenders>
	<loggers>
		<logger name="framework.sql.log" level="info" additivity="false">
			<appender-ref ref="SqlAppender" />
		</logger>
		<logger name="com.hbasesoft.framework.log.file.TransLoggerService4File"
			level="info" additivity="false">
			<appender-ref ref="AsyncTransAppender" />
		</logger>
		<root level="${rootLevel}">
			<appender-ref ref="Console" />
			<appender-ref ref="DebugAppender" />
			<appender-ref ref="InfoAppender" />
			<appender-ref ref="WarnAppender" />
			<appender-ref ref="ErrorAppender" />
		</root>
	</loggers>
</configuration>