#set($module = "/permission")
#set($title="个人信息")
#set($libs=["reactjs","react-ui"])
#set($js=["admin/info"])
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                个人信息
            </h3>
        </div>
    </div>
    <div class="row">
        <div className="x_panel">
            <div className="x_content" id="mainContent">

            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    var admin = $admin
</script>