#set($module = "/system")
#set($title="配置项管理")
#set($libs=["reactjs","react-ui"])
#set($js=["system/configitem/configItem"])
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                配置项管理<small>配置配置项，配置项参数，配置项参数值</small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
                </div>
            </div>
        </div>
    </div>
    <div id="config"></div>
</div>