<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
#if($!libs.contains('reactjs'))
<script type="text/javascript" src="http://cdn.bootcss.com/react/0.14.6/react.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/react/0.14.6/react-dom.min.js"></script>
#end
#if($isEmpty != "empty")
<script type="text/javascript" src="$!context.contextPath/js/app.js"></script>
#end
<script src="http://cdn.bootcss.com/babel-core/5.8.34/browser.min.js"></script>
 #if($!libs.contains('react-ui'))
<script type="text/javascript" src="$!context.contextPath/lib/react-ui/ReactUI.min.js"></script>
#end
#foreach ($s in $js)
<script type="text/babel" src="$!context.contextPath/assets$!{module}/js/${s}.js"></script>
#end