/**************************************************************************************** 
 Copyright © 2023-2028 hbasesoft Corporation. All rights reserved. Reproduction or     <br>
 transmission in whole or in part, in any form or by any means, electronic, mechanical <br>
 or otherwise, is prohibited without the prior written consent of the copyright owner. <br>
 ****************************************************************************************/
 
package ${package}.dao;

import com.hbasesoft.framework.db.Dao;
import com.hbasesoft.framework.db.hibernate.IBaseDao;
import ${package}.entity.${table.code}Entity;

/**
 * <Description> ${table.name}的Dao<br>
 * 
 * @author 工具生成<br>
 * @version 1.0<br>
 * @taskId <br>
 * @CreateDate ${DATE} <br>
 * @since V1.0<br>
 * @see com.hbasesoft.framework.db.hibernate.IBaseDao <br>
 */
@Dao
public interface ${table.code}Dao extends IBaseDao<${table.code}Entity> {
}
